Django==4.2.7
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
Pillow
django-widget-tweaks==1.5.0
reportlab==4.0.7
python-dateutil==2.8.2
django-filter==23.5
django-import-export==3.3.3
openpyxl==3.1.2
xlsxwriter==3.1.9
python-decouple==3.8
python-dotenv==1.0.0
whitenoise==6.6.0
gunicorn==21.2.0
mysqlclient==2.2.0
pymysql==1.1.0

# Sécurité
django-ratelimit==4.1.0
django-axes==6.1.1
django-csp==3.8
django-cors-headers==4.3.1
